*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #002734;
}

#board{
    height:80vh;
    width: 80vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.box{
    height: 10vh;
    width: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7fbed;
    font-size: 1.8rem;
}

.box.dark-box{
    background-color: #4c8b45;
}

.dot{
    height: 30%;
    width: 30%;
    border-radius: 100%;
    background-color: #00000030;
    position: absolute;
}
.circle{
    height: 75%;
    width: 75%;
    border-radius: 100%;
    border: 3px solid #00000030;
    position: absolute;
    z-index: 0;
}

.piece{
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 1;
}

